@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HeaderPDF</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body style="padding: 0px; margin: 0px;">
    <div class="row">
        <div class="col-xs-4">
            <img src="/imagenes/logohospital.png" />
        </div>
        <div class="col-xs-8 text-center">
            <h2>RECETA MÉDICA</h2>
        </div>
    </div>
</body>
</html>
