
@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = "~/Views/Shared/_LayoutMedico.cshtml";
}
<h4>Ingreso al Sistema Hospitalario</h4>
<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
