@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="caja">
    <div id="texto-left" style="color: blue" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
