@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
}
<h4>Ingreso al Sistema Hospitalario</h4>
<div>@ViewBag.Acceso</div>
<div style=" color: blue; text-align: left" class="alert alert-@ViewBag.alerta"> - - <b>@ViewBag.Res</b> - - </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
