@using NTSIH.Controllers
@model HandleErrorInfo

@{ 
    ViewBag.Title = "ERROR";

}

        <h1>Error.</h1>
        <h2>Error al procesar la solicitud.</h2>
        @if (Model.Exception is MiExcepciones)
            {
                <h2>@Model.Exception.Message</h2>
            }
            else
            {
                <h2>algo salio mal</h2>
            }
   