@using NTSIH.Controllers
@model HandleErrorInfo

@{
    ViewBag.Title = "ERROR";

}

            @if (Model.Exception is MiExcepciones)
            {
                <h2>@Model.Exception.Message</h2>
            }
            else
            {
                <h2>algo salio mal</h2>
            }

        